<% include partials/header %>


<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1><i class="fa fa-camera-retro" aria-hidden="true"></i> Bienvenido al blog de fotografia!</h1>
      <p>Imagenes de diferentes fotografos tomadas alrededor del mundo</p>
      <p><a class="btn btn-primary btn-large" href="photos/new">Subir foto</a></p>
    </div>
  </header>

  <div class="row text-center" style="display: flex; flex-wrap:wrap">
    <% photos.forEach(function(photo){ %>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <img src="<%= photo.source %>" alt="">
          <div class="caption">
            <h4><%= photo.name %></h4>
          </div>
          <p>
            <a href="/photos/<%= photo._id%>" class="btn btn-primary">Mas informacion</a>
          </p>
        </div>
      </div>

      <% }); %>
  </div>


</div>

<% include partials/footer %>
