<% include partials/header %>

<h1>Bienvenido al blog de fotografías!</h1>
<p>Para disfrutar de nuestras fotografías, haga click en el link de abajo</p>


<a href="/photos">Ver todas las fotos!</a>

<% include partials/footer %>
