<% include partials/header %>
  <h1>Login</h1>
  <form class="" action="/login" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button> Sign Up! </button>
  </form>
  <a href="/auth/google" class="btn btn-danger">Google</a>
  <% include partials/footer %>
