.thumbnail img {
  width: 100%;
}
.thumbnail {
  padding: 0px;
}
.thumbnail .caption-full{
  padding: 9px;
}


.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

#deleteForm{
  display: inline;
}
